<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bike project</title>
</head>
<body>
    <h2>Our bike project front-end</h2>
    <!-- kms_driven,age,brand,owner,power  -->
    <form action="">
        <label for="">Brand</label>
        <select name="brand_name" id="fifth" required="required">
            <option value="Royal Enfield" >Royal Enfield</option>
            <option value="KTM">KTM</option>
            <option value="Bajaj">Bajaj</option>
            <option value="Harley">Harley-Davidson</option>
            <option value="Yamaha">Yamaha</option>
            <option value="Honda">Honda</option>
            <option value="Suzuki">Suzuki</option>
            <option value="TVS">TVS</option>
            <option value="Kawasaki">Kawasaki</option>
            <option value="Hyosung">Hyosung</option>
            <option value="Benelli">Benelli</option>
            <option value="Mahindra">Mahindra</option>
            <option value="Triumph">Triumph</option>
            <option value="Ducati">Ducati</option>
            <option value="BMW">BMW</option>
        </select><br><br>

<label for="">owner</label>
<select name="owner" id="">

    <option value="first">first owner</option>
    <option value="second">second owner</option>
    <option value="third">third owner</option>
    <option value="fourth">fourth owner</option>
</select>
       <br>

    <label for="">age</label>
    <input type="text" name="age" required>

    <br>
    <label for="">power</label>
    <input type="text" name="power" required>

    <br>
    <label for="">kms driven</label>
    <input type="text" name="kms_driven" required>
    <button type="submit">submit</button>

    </form>



</body>
</html>